@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.home-wrapper{
  background: #FAFAFA !important;
}
.navbar{
  /* background: #fff; */
  background: #FFF;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  /* padding: 0 14px 0 64px; */
}

.navbar .navbar-brand{
  color: #D72638;
}
.form-control{
  border: 1 px solid #ddd !important;
  box-shadow: none;
}
.form-control:focus , .form-control:hover{
  border-color: #D72638 !important;
  box-shadow: none;
}
.navbar-nav{
  flex-direction: row !important;
}
.navbar-nav .nav-link{
  margin-right: 10px;
}

.toastify {
  padding: 15px;
  position: fixed;
  border-radius: 3px;
  min-width: 200px;
  opacity: 0;
  z-index: 9999; }
  .toastify.toastify-bottom-right {
    bottom: 15px;
    right: 15px; }
  .toastify.toastify-top-right {
    top: 15px;
    right: 15px; }
  .toastify.toastify-top-left {
    top: 15px;
    left: 15px; }
  .toastify.toastify-bottom-left {
    bottom: 15px;
    left: 15px; }
  .toastify.toastify-success {
    background: #2ecc71;
    color: white;
    border: 1px solid #29b765; }
  .toastify.toastify-warning {
    background: #f39c12;
    color: white;
    border: 1px solid #e08e0b; }
  .toastify.toastify-default {
    background: #333;
    color: white;
    border: 1px solid #262626; }
  .toastify.toastify-error {
    background: #e74c3c;
    color: white;
    border: 1px solid #e43725; }
  .toastify.toastify-info {
    background: #3498db;
    color: white;
    border: 1px solid #258cd1; }
  .toastify span {
    display: block; }
  .toastify .toastify-title {
    font-weight: bold;
    margin-bottom: 10px; }
.toastify .toastify-cancel-icon {
    position: absolute;
    top: 5px;
    font-size: 18px;
    right: 10px;
    cursor: pointer;
}
.chip{
  background: #3498db62;
  color: #3498db;
  border: 1px solid #3498db;
  padding: 4px 12px;
  border-radius: 4px;
}
.text-small{
  font-size: 14px;
}
.chat-box{
  overflow-x: scroll;
  scroll-behavior: smooth;
  border: 1px solid #3498db;
  background: #3498db23;
  height: 80vh;
  /* margin-top: 10px; */
  padding: 10px;
  border-radius: 4px;
}
.chat-item{
  background: #e08e0b44 ;
  border: #e08e0b;
  padding: 10px 12px;
  border-radius: 12px;
}
.flaoting-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 11111;
}
.chatbot-ui{
  display: flex;
  justify-content: center;
}